<style>
        #debugPanel {
            background-color: lime;
            display: block;
            position: absolute;
            bottom: 0;
            width: 100%;
            height: 45px;
            display: none;
        }
    </style>
    <div id="debugPanel">
        <label id="Xval">X val = 270</label>
        <button onclick="rotateX()">rotate X</button> &nbsp; &nbsp;
        <label id="Yval">Y val = 180</label>
        <button onclick="rotateY()">rotate Y</button> &nbsp; &nbsp;
        <label id="Zval">Z val = 0</label>
        <button onclick="rotateZ()">rotate Z</button> &nbsp; &nbsp;
        <script>
            var rollX = 315, rollY = 180, rollZ = 0;

            var myObj = document.getElementById("myObj");
            var myXval = document.getElementById("Xval");
            var myYval = document.getElementById("Yval");
            var myZval = document.getElementById("Zval");

            function rotateX() {
                if (rollX > 310) {
                    rollX = 0;
                } else {
                    rollX = rollX + 45;
                }
                myXval.innerHTML = "X val = " + rollX;
                //alert( "X val = " + rollX);
                setRotation();
            }
            function rotateY() {
                if (rollY > 310) {
                    rollY = 0;
                } else {
                    rollY = rollY + 45;
                }
                myYval.innerHTML = "Y val = " + rollY;
                setRotation();
            }
            function rotateZ() {
                if (rollZ > 310) {
                    rollZ = 0;
                } else {
                    rollZ = rollZ + 45;
                }
                myZval.innerHTML = "Z val = " + rollZ;
                setRotation();
            }

            function setRotation() {
                myObj.setAttribute('rotation', {x: rollX, y: rollY, z: rollZ});
                //alert(' setting X = ' + rollX + ' Y = ' + rollY + ' Z= ' + rollZ)
            }

            function setScale() {
                myObj.setAttribute('scale', {x: 0.25, y: 0.25, z: 0.25});
            }

            function getUrlParameter(name) {
                name = name.replace(/[\[]/, '\\[').replace(/[\]]/, '\\]');
                var regex = new RegExp('[\\?&]' + name + '=([^&#]*)');
                var results = regex.exec(location.search);
                return results === null ? '' : decodeURIComponent(results[1].replace(/\+/g, ' '));
            }

            if (getUrlParameter('debug') == "true") {
                var x = document.getElementById("debugPanel");
                x.style.display = "block";
                console.log('Debug Ready');
            }

            var scene = document.querySelector('a-scene');
            if (scene.hasLoaded) {
                run();
            } else {
                scene.addEventListener('loaded', run);
            }

            function run () {
                //setRotation();
                //setScale();
            }


        </script>
    </div>















<!--
                <a-animation attribute="rotation" from="20 0 0" to="20 360 0" direction="alternate" dur="6000" repeat="indefinite" easing="ease"></a-animation>
                <a-animation attribute="scale" to="1 0.5 1" direction="alternate" dur="2000" repeat="indefinite" easing="linear"></a-animation>
                <a-animation attribute="position" from="0 0 -0.5" to="0.5 0.5 -0.5" dur="12000" repeat="indefinite" easing="ease-in-out"></a-animation>
-->






<!--                <a-animation attribute="scale" to="0.45 0.35 0.25" direction="alternate" dur="10000" repeat="indefinite" easing="ease-in-out"></a-animation>-->
<!--                <a-animation attribute="rotation" from="220 140 0" to="220 220 0" direction="alternate" dur="6000" repeat="indefinite" easing="ease"></a-animation>-->





<!--        <a-sky color="#DDDDDD"></a-sky>-->
