<!-- include A-Frame obviously -->
<script src="https://aframe.io/releases/0.8.2/aframe.min.js"></script>
<!-- include ar.js for A-Frame -->
<script src="https://jeromeetienne.github.io/AR.js/aframe/build/aframe-ar.js"></script>

<body style='margin : 0px; overflow: hidden;'>
    <a-scene embedded arjs>
<!-- Adding an OBJ file to an AR Project-->
        <a-assets>
            <a-asset-item id="track-obj" src="/track.obj"></a-asset-item>
<!--                <a-asset-item id="track-mtl" src="/track.mtl"></a-asset-item>-->
        </a-assets>

        <!-- create your content here. just a box for now -->
        <!--    <a-box position='0 0.5 0' material='opacity: 0.5;'></a-box>-->
        <!-- define a camera which will move according to the marker position -->
        <!--    <a-marker-camera preset='hiro'></a-marker-camera>-->
        <a-marker-camera preset="custom" type='pattern' patternUrl="/pattern-marker-track.patt" url="/pattern-marker-track.patt">
            <a-image src="01.png"></a-image>
        </a-marker-camera>

        <a-marker-camera preset='hiro'>
<!--            <a-entity position="0 3 -4" text="color: white; baseline: top; anchor: right; value: anchor='right' baseline='top' (default align) 123456789012345678901234567890123456789012345678901234567890">Hi THERE!</a-entity>-->
<!--            <a-entity obj-model="obj: #track-obj; mtl: #track-mtl"></a-entity>-->
        </a-marker-camera>

        <!--      <a-marker preset='custom' type='pattern' url='pattern-marker-track.patt'></a-marker>


<a-anchor preset="custom" type="pattern" url="marker.patt" hit-testing-enabled='false'> <a-box></a-box> </a-anchor>


<a-marker-camera preset="custom" type="pattern" url="https://raw.githubusercontent.com/alexxss/custom-marker/master/marker.patt"></a-marker-camera>


<a-marker preset='custom' type='pattern' url='pattern-marker.patt'>

<a-text anchor="align" position="0 0.1 0" rotation="270 0 0" side="double" width="5" color="red" value="hello world"></a-text>
	</a-marker>

-->
    </a-scene>
</body>
